html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0b0220;
  --primary-hover: #3b0707;
  --background: #050513;
  --box-background: #3E3B47;
  --text-color: #0c6777;
  --green: #140842;
}

body {
  background-image: url(jehh-oefil.jpeg);
  background: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0;
}

body, input, button {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

button {
  cursor: pointer;
}
